body {
	margin-left: 15px;
}

.container {
	margin-left: 20px;
}

.landing { 
	background: url("https://assets3.thrillist.com/v1/image/1325912/size/tl-horizontal_main/42-actually-great-new-york-date-ideas") no-repeat ;
	margin-left: -35px;
	background-size: cover; 
	color: white;
	height:90vh;
	padding-top: 10px;
}

.navbar-default {
	margin-left: -2em;
	background-image:linear-gradient(to bottom,#fff 0,#CCC 100%);
}

.navbar-default .navbar-nav>li>a {
	color: #337ab7;
}

#input {
	margin-left: 25px;
	width: 75%;
}

#home {
	display: inline-block;
	float: right;
	margin: 30px;
	text-align: center;
}

#welcome {
	font-weight: bold;
	color: black;
	text-align: center;
}

#welcome2 {
	font-weight: bold;
	color: white;
	text-align: center;
}

#add {
	margin-bottom:15px;
}

#search {
	margin-top:15px;
}

#add_title {
	font-style: italic;
}

a:hover {
	color: red;
}

#search2 {
	display: inline-block;
	margin: 30px;	
}

.result {
	background-color: #F1F1F1;;
	padding: 5px;
	border-radius: 15px;
	margin-right: 15px;
	padding-bottom: 15px;
}

.details_div {
	padding: 5px;
	border-radius: 15px;
	margin-top: 15px;
	margin-right: 15px;
	margin-right: 20px;
}

.details {
	margin-left: 20px;
}

.form {
	margin-right: 5em;
	margin-left: 2em;
}

.entry {
	margin-top: 5px;
}

#place {
	font-weight: bold;
	font-size: 15px;
}

#notes {
	text-align: justify;
}

#address {
	display: inline-block;
}

#area {
	font-style: italic;
	display: inline-block;
	float: right;
}

#price {
	display: inline-block;
}

/*#count {
	font-style: italic;
	color: red;
	display: inline-block;
}
*/
#user {
	display: block;
	font-style: italic;
	margin-left: 10px;
}

#parking {
	display: inline-block;
	float: left;
}

.menuTabs{
	left: 5%;
	display: inline;
	margin: 10px;
	}

.menu{
	background-color: black;
	margin-left: -10px;
}

#message {
	color: #337ab7;
	font-style: italic;
	font-weight: bold;
}

.btn:hover {
	color: red;
}

.btn-default{
	background-color: blue;
}

.search {
	display: block;
	margin: 20px;
}

#about {
	margin-right: 2em;
	text-align: justify;
	background-color: #F1F1F1;
    padding: 2em;
    padding-right: 4em;
    padding-left: 4em;
    border-radius: 20px;
}

#delete {
	float: left;
	margin: 20px;
	margin-left: -2em;
}

#delete:hover {
	font-size: 20px;
	color: yellow;
}

#detail {
	color: black;
	font-weight: bold;
}

#detail:hover {
	color: red;
}

.details_btn{
	float: right;
	margin-right: 1em;
	height: 2.2em;
}

.map_btn{
	float: right;
	margin-right: 1em;
	height: 2.2em;
}

#end {
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

.map_div {
	width: 60%;
	margin-left: 2em;
}

#footer {
	float:right;
	margin-right:3em;
	font-style: italic;
}

.index_result {
	background-color: #F1F1F1;;
	padding: 5px;
	border-radius: 15px;
	margin-right: 8em;
	margin-left: 8em;
	margin-bottom: 2em;
	padding-bottom: 15px;
	color:#337ab7;
	opacity: 0.8;
	position: relative; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
}

.scrolling {
	z-index: 1;
	height:80vh;
	overflow: scroll;
}


