<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date_abase</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'dates/style.css' %}" />
    <script   src="https://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>

</head>
<body>

    <h1>Date-abase</h1>

    <div class=container>
        {% block content %}

        {% endblock content %}
    </div>

</body>
</html>
