{% extends "base.html" %}

{% block content %}

<h2 id="add_title">About Date-abase</h2>

    <article id="about">
        <br>
        <p> Date-abase is a collection of wonderful, exciting and romantic date ideas in and around the New York and New Jersy Area. The collection of dates was started as a small project between a group of friends who just needed some cool places to go. </p>

        <p> Today, Date-abase is a thriving web site where users can search for date ideas by a variety of different criteria and can add their own ideas to the ever growing database. The Date-abase website  started as a side project hobby and is continually being updated and upgraded with new and cool features so stay tuned to see what is in store! </p>

        <p>
        Thank you and we hope you enjoy your date! <br><br>

        Best, <br><br>

                <em>Date-abase team </em>
        </p>
    </article>

    <a id="home" href="/"> Back Home </a>

{% endblock content %}