{% extends "base.html" %}

{% block content %}
    <br><br>
      <div class="row">
        <div class="col s12 m10 l10">
          <div class="card grey lighten-1">
            <div class="card-content white-text">
              <span class="card-title"><h3 id="add_title">About Date-abase</h3></span>
        <p> Date-abase is a collection of wonderful, exciting and romantic date ideas in and around the New York and New Jersy Area. The collection of dates was started as a small project between a group of friends who just needed some cool places to go. </p>

        <p> Today, Date-abase is a thriving web site where users can search for date ideas by a variety of different criteria and can add their own ideas to the ever growing database. The Date-abase website  started as a side project hobby and is continually being updated and upgraded with new and cool features so stay tuned to see what is in store! </p>

        <p>
        Thank you and we hope you enjoy your date! <br><br>

        Best, <br><br>

                <em>Date-abase team </em>
        </p>
            </div>
            <div class="card-action">
                <a id="home" href="/"> Back Home </a>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}