{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

<h4 id="add_title">Add a Date Idea!</h4>

    <form class = "form" role="form" action="{% url 'dates:add' %}" method="POST">
    	<h6><em><strong>Note: </strong> Must be signed in to submit an idea to the Date-abase</em></h6>
        <fieldset class="form-group">
        {% csrf_token %}
        
        {{ add_date_form|bootstrap }}

        <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <a id="home" href="/"> Back Home </a>

{% endblock content %}