{% verbatim %}
	
	<script id="details" type="x-tmpl-mustache">

        {{#dates}}

            <div class="details"> 
                <div class="entry" id="place"> {{place}}</div>
                <div class="entry" id="address"><strong>Address: </strong><br> {{address}}</div>
                <br>
                <div class="entry" id="notes"><strong>Notes: </strong> <br> {{notes}}</div>
                <div class="entry" id="phone"><strong>Contact: </strong> {{phone}}</div>
                <div class="entry" id="website"><strong>Website: </strong> {{website}}</div>
                <div class="entry" id="price"><strong>Price: </strong> {{price}}</div>
                <br>
                <div class="entry" id="parking"><strong>Parking options: </strong> {{parking}}</div>
                <div class="entry" id="parking"><strong>Map: </strong> {{maps}}</div>
                
                <br><br>
            </div>

    {{/dates}}

	</script>

{% endverbatim %}