{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

    <h2><em>Edit Date Idea</em></h2>

    <form class = "form" role="form" action="{% url 'dates:edit' dates_slug=date.slug %}" method="POST">
        <fieldset class="form-group">
        {% csrf_token %}
        
        {{ EditForm|bootstrap }}

        <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit Edits</button>
        </div>
    </form>


    <form class = "form" role="form" action="{% url 'dates:delete' dates_slug=date.slug %}" method ="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" id="delete" value="Delete Date Idea" />
    </form>

    <a id="home" href="/dates"> Back Home </a>


{% endblock content %}




