{% extends "base.html" %}

{% block content %}

	<div class ="landing">
	    <h2 id="welcome">Top Date Ideas!</h2>
	    <br>
		
		<div class ="scrolling ">
			<br>
	    {% for date in dates %}
	        {% if date.show %}

                <div class="row">
                    <div class="col s12 m12 l12">
                      <div class="index_card card grey lighten-1">
                        <div class="index_card_content card-content white-text result">
                            <span class="card-title">                
                                <div class="entry" id="link"> 	            
                                	<div class="entry" id="place"> <a href="/top/{{ date.slug }}"> <div> {{ date.place }} </div></a></div></div>
                            </span>

	            <div class="entry" id="area">{{ date.area }}</div>
	            <div class="entry" id="user">Author: {{ date.user }}</div>

                        </div>
                      </div>
                    </div>
                  </div>

	        {% endif %}
	        {% endfor %}
	        </div>
	    </div>
	</div>

{% endblock content %}


