{% extends "base.html" %}

{% block content %}

	<header>
		<h1>Welcome!</h1>

		<nav>
			<ul class='menu' >
				<li class='menuTabs'><a href="register"> Register!</a></li>
				<li class='menuTabs'><a href="login"> Login</a></li>
				<li class='menuTabs'><div id="message">{{ message }}</div> </li>
				<li class='menuTabs'><div id="spacer"> </div> </li>
				<li class='menuTabs' id="logout"><a href="logout"> Logout</a></li>
			</ul>
		</nav>
	</header>
	

	<br>
	<div id="add"><a class="button" href="/dates/add"> Add a Date Idea!</a></div>
	
	<br><br>
	<div class="buttons">
	    <div class="search" id="search"><a class="button" href="search"> Search for a Date Idea! (Category)</a></div>
	    <div class="search" id="area search"><a class="button" href="area"> Search for a Date Idea! (Area)</a></div>
	    <div class="search" id="price search"><a class="button" href="price"> Search for a Date Idea! (Price)</a></div>
	</div>

    <!-- add code to show the "top dates" -->

{% endblock content %}


