{% extends "base.html" %}

{% block content %}
	
	<br><br>
	<div class="buttons">
	    <div class="search" id="search"><a class="button" href="search"> Search for a Date Idea! (Category)</a></div>
	    <div class="search" id="area search"><a class="button" href="area"> Search for a Date Idea! (Area)</a></div>
	    <div class="search" id="price search"><a class="button" href="price"> Search for a Date Idea! (Price)</a></div>
	</div>

    <!-- add code to show the "top dates" -->

{% endblock content %}

