{% extends "base.html" %}

{% block content %}

    <h2><em>Search Date-abase</em></h2>

    <form action="{% url 'dates:search' %}" method="POST">
        {% csrf_token %}

            {% for field in search_date_form %}
                <div id="input" class="{%if field.errors %}error{%endif%}">
                    {{field.label_tag}}{{ field }}
                </div>

                {% if field.help_text %}
                <p> class="help {{ field.help_text|safe }}</p>
                {%endif%}

            {% endfor %}
            
        <input type="submit" class="button" value="Get Date Ideas!"/>
    </form>
  <!--   
        <p>Search Results:</p>
        {% if dates %}

            {% for date in dates %}
                <p id="date"> Date Idea: {{ date.place }}, {{ date.address }}, {{ date.phone }}, {{ date.website }}, {{ date.notes }}</p>
            {% endfor %}

        {% else %}
            <p>No Results to your search, try again.</p>

        {% endif %}
 -->


    <a id="home" href="/dates"> Back Home </a>

{% endblock content %}